

img{
    width: 100%;
}

nav>#headDiv{
    padding: 0 15px;
}

#name{
    background-color: #4aaaa5; 
    display: -webkit-inline-box; 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    height:95%;
    text-align: center;
    margin-bottom:0px;
    margin-top:auto;
    overflow:auto;
    width: 200px;
}

#name > h1{
    margin: auto auto;
    display: block;
    color: white;
    
    padding:5px 20px;
    text-shadow: 2px 2px 5px #3d4f48;;
}

.navbar{
    padding: .5rem 0;
}

body{
    background-image: url("../images/hexellence_@2X.png");
    min-height: 100vh;
}

#content{
    margin-top: 5%;
}

#icons{
    padding:0 15%;
    margin-bottom: 5%;
}

.icon-link{
    padding-right: 5%;
    padding-left: 0;
}

#main, #CWM{
    background-color: white;
    margin-bottom: 10%;
}

#CWM{
    max-height: fit-content;
}

#main{
    padding-top: 2%;
    padding-bottom: 2%;
}

h4{
    padding: 15px 0 0 10px;
}

textarea{
    padding-top: 8px;
    border-color: #d5d2d2;
}

.sticky-footer{
    margin-top:auto;
}

h5{
    /* position: absolute;
    bottom: 10px; */
    background-color: #4aaaa5;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    -webkit-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.portPic{
    position: relative;
    margin-bottom: 5%;
}

.portPic:hover h5{
    font-size:24px; 
}

.portLabel{
    position: absolute;
    bottom: 10px;
    width:100%;
    padding: inherit;
    box-sizing: border-box;
    left: 0;
}